*, *::before, *::after {
	box-sizing: border-box;
}


body {
  padding-top: 56px;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero p {
  font-weight: bold;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  stroke-width: 1;
}

.services-icon {
  margin-bottom: 20px;
  font-size: 30px;
}

.quote-icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.navbar-light .navbar-brand {
  font-family: Comfortaa;
  font-size: 1.6rem;
  line-height:1;
  color:rgb(49,83,3);
}
.fa-pagelines {
  margin: 5px;
  font-size: 45px;
  color:rgb(82,139,3);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}